# File
*.dlw
*.dlr
*.G1A
*.bat

# Directory
.vscode/
src-fx/Debug
src-fx/INIT
src-fx/SDCard

debug
workspace
bitmaps
objects
*.CGI
*.log
*.LIB
*.lst
*.lbk
*.LIB
*.SH3
*.G3A
*.BAK

src-cg/BaseOptions/BaseOptions.ini
src-cg/LIB/MyOutPut.TXT
src-cg/projects/setup.prj
src-cg/tools/pCGSDK.INI